*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100vw;
    height: 100vh;
    /* background-color: azure; */
    background-image: url(./src/img/quiz_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*Header*/

header {
    display: flex;
    margin-top:50px;
    justify-content: center;
    text-align: center; 
    
}

header h1 {
    font-size: 70px;
    font-weight: bolder;
    color: rgb(23, 163, 163);
    background-color: rgba(255, 255, 255, 0.8);
    width: max-content;
    padding: 25px;
    border-radius: 10px;
}

/*Start BUTTON*/
section.starter {
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
}

/*Main*/
#show{
    display: none;
}

article.question {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}
article.answers,
.userInfo {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 50px;

}
section.modify {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.modify-buttons {
    margin-right: 10px;
}

.modify-buttons button,
.modify-buttons a{
    padding: 10px;
    color: white;
    background-color: rgb(15, 80, 80);
    border-radius: 10px;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.modify-buttons a {
    display: inline-block;
}

.modify-buttons button:focus{
    outline: none;
}
/* SCORE */
.score {
    position: absolute;
    top: 8%;
    left: 6%;
    color: white;
    background-color: rgb(17, 131, 131);
    font-size: 25px;
    font-weight: bolder;
    padding: 20px;
    border-radius: 10px;
}

/* QUESTION AND USER INFO */
.text {
    display: inline-block;
    text-align: center;
    color: rgb(17, 131, 131);
    font-size: 30px;
    font-weight: bolder;
    background-color: rgb(215, 238, 238);
    padding: 15px;
    border-radius: 10px;
    border: none;
    width: fit-content;
    text-transform: uppercase;
}

.text:empty{
    padding: 0;
}

/* BUTTONS */
.btn{
    padding: 15px;
    font-size: 24px;
    color: white;
    background-color: rgb(23, 163, 163);
    border-radius: 10px;
    border: none;
    margin: 20px 50px;
}

.start_button{
    padding: 20px;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(23, 163, 163);
    background-color: white;
    border-radius: 10px;
    border: none;
    margin: 20px 50px;
}
.btn:focus, .btn:active,
.start_button:focus{
    outline: none !important;
    box-shadow: none !important;
}

/* Correct and incorrect answers */
.correct {
    background-color: rgb(81, 153, 81);
}

.incorrect {
    background-color: rgb(231, 57, 57);
}

/* centered */
.center {
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: fit-content;
}

.invisible{
    display: none;
}

/*Media query*/

@media only screen and (min-width: 768px) {

    .start_button {
        width: 250px;
    }
}